<div class="container about-container">
  <h2 class="about-section-header">Professional Experience</h2>
  <section>
    <p>After graduating from The Iron Yard's Front End Engineering program, I joined an Agile team at AT&T as a Junior Fullstack Developer. I now use Javascript and Perl every day to solve problems. Whether I'm refactoring  a broken module or creating a new integration test, I work hard to write clean, logical code. In addition to testing and adding functionality to the backend, I also am one of our team's frontend specialists. I have made several significant contributions to the our tool's frontend functionality and user experience. I've also worked closely with one of our senior developers to start testing our frontend using Mocha and Chai. I find Test Driven Development to not only be necessary, but extremely useful as we work to build new features, fix complex bugs, and collaborate on our tool.</p>
  </section>
  <h2 class="about-section-header">My Journey</h2>
  <section>
      <p>My passion for front‐end development began when I first introduced a class of middle schoolers to robotics. My students and I were all hooked when we started to direct our LEGO robot using basic JavaScript commands; applause for the lift of the arms, uncontrollable laughter at the sputtering wheels. It felt odd to watch that half-finished robot hold the attention of 13-year-olds for more than a minute, but even more odd to realize that I was hooked as well. The more I learned alongside my students, the more eager I became to learn more on my own.</p>
      <p>So, after a couple years of independent study, I decided to take the plunge into this career change. With a strong passion to learn, I devoured every lesson and project from our team at The Iron Yard. I’m eager to continue solving challenging problems while also creating attractive, interactive user experiences on the web.</p>
      <div class="about-photos">
        <div class="section-chips"></div>
        <div class="section-bikes"></div>
        <div class="section-pup1"></div>
        <div class="section-pup2"></div>
        <div class="section-unc"></div>
      </div>
      <p>Outside of development, I spend time with my dogs Riley and Weezy. You can also find me riding all over the triangle, hitting up local breweries, or watching the Tar Heels play in Chapel Hill. I'm actively looking for employment here in the triangle, so if you're looking for a driven developer you can reach me <a href="https://www.linkedin.com/in/dhackelman/" target="_blank" >here.</a></p>
  </section>

    <!-- <h2 class="about-section-header">Goals</h2>
    <section>
        <p>I always seek to have a positive impact on my community. As a teacher I made sure to provide a rigorous, culturally relevant education. I sought to help my students reach college through intense coaching, consistent communication, and relentless relationship building. I bring that same attitude to my current career. </p>
    </section> -->

</div>
