<div class="container about-container">
  <h2 class="about-section-header">My Journey</h2>
  <section>
      <p>My passion for front‐end development began when I first introduced a class of middle schoolers to robotics. My students and I were all hooked when we started to direct our LEGO robot using basic JavaScript commands; applause for the lift of the arms, uncontrollable laughter at the sputtering wheels. It felt odd to watch that half-finished robot hold the attention of 13-year-olds for more than a minute, but even more odd to realize that I was hooked as well. The more I learned alongside my students, the more eager I became to learn more on my own.</p>
      <p>So, after a couple years of independent study, I decided to take the plunge into this career change. With a strong passion to learn, I devoured every lesson and project from our team at The Iron Yard. I’m eager to continue solving challenging problems while also creating attractive, interactive user experiences on the web.</p>
      <div class="about-photos">
        <div class="section-chips"></div>
        <div class="section-bikes"></div>
        <div class="section-pup1"></div>
        <div class="section-pup2"></div>
        <div class="section-unc"></div>
      </div>
      <p>Outside of development, I love spending time with my pups Riley and Weezy. You can also find me riding my bicycle all over the triangle, hitting up local breweries, or watching the Tar Heels play in Chapel Hill. I'm actively looking for employment here in the triangle, so if you're looking for a driven, coachable, competent developer with an unmatched desire for perfection, you can, again, probably find me on my bike. Or, you can reach me <a href="https://www.linkedin.com/in/dhackelman/" target="_blank" >here.</a></p>
  </section>
    <h2 class="about-section-header">Quick Take</h2>
    <section>
        <p>I ♡ JavaScript. It's the reason I started on this career path. It’s why I wake up early in the morning—before the dogs do. It's the reason I’m excited to hit the power button every morning. Stepping into new libraries and frameworks is a welcome challenge— finding new and interesting problems to solve using JavaScript keeps my brain excited and engaged. </p>
        <p>Thus far I've worked on front end teams that have utilized ES6 javascript, jQuery, Angular JS, React JS, and many other small libraries. I also have experience with many other tools from the front end ecosystem that include (but aren't limited to) HTML5, CSS3, Knockout JS, Sass, Gulp, npm, GitHub, AJAX, RESTful APIs, git, and some others. </p>
    </section>

    <!-- <h2 class="about-section-header">Goals</h2>
    <section>
        <p>I always seek to have a positive impact on my community. As a teacher I made sure to provide a rigorous, culturally relevant education. I sought to help my students reach college through intense coaching, consistent communication, and relentless relationship building. I bring that same attitude to my current career. </p>
    </section> -->

</div>
