<div class="container contact">
    <div class="contact-row">
        <a href="mailto:drew.hackelman@gmail.com" target="_blank" ><img src="./src/styles/images/email.svg" /></a>
    </div>
    <div class="contact-row">
      <a href="https://github.com/dhackelman" target="_blank" ><img src="./src/styles/images/git.svg" /></a>
    </div>
    <div class="contact-row">
      <a href="https://www.linkedin.com/in/dhackelman/" target="_blank" ><img src="./src/styles/images/linked.png" /></a>
    </div>
    <div class="contact-row">
      <a href="https://docs.google.com/document/d/1d0pkwfOCGs-SOLU5NTnRkBgcyIv_4UHOSummcI17PYE/pub?embedded=true" target="_blank" ><img src="./src/styles/images/resume-icon.svg" /></a>
    </div>
</div>
<div class='sub-container'></div>
