<div class="container">
  <h1 class="u-full-width">Drew Hackelman</h1>
  <div class="u-full-width intro">
    <div class="picture-holder">
    </div>
  </div>
  <p>Currently working as a Junior Fullstack Developer with AT&T. Recent graduate of The Iron Yard's immersive Front End Engineering program. Experience with languages and tools including Perl, JavaScript (vanilla, react, angular, and jquery), SQL, HTML5, CSS3, and more. </p>
  <p>Before attending The Iron Yard, I spend 6 years to working in high-need, high-performing charter schools in New Orleans and Houston. I incorporated innovative technology solutions in classrooms and schools to promote blended learning experiences for students. I'm passionate about technology and its impact on communities.</p>
</div>
